.Contacts {
    padding: var(--secPadding);
    height: 120vh;
    position: relative;
}

.Contacts .headings {
    width: 45vw;
    position: absolute;
    color: white;
    padding: 10vh;
}

.fieldset {
    padding: 10vh;
    border: none;
    width: 40vw;
    background-color: #1e2735;
    top: 200px;
    position: absolute;
    top: 15vh;
    right: 10vw;
    box-shadow: 2px 2px 15px black;
    animation: fieldset .3s 1 forwards linear;
}

.contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-list li {
    font-family: Poppins-Bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.contact-list li span {
    display: flex;
    gap: 10px;
}

.contact-list li svg {
    font-size: 30px;
}

.fieldset>legend {
    text-align: right;
    font-family: Poppins-Bold;
    font-size: 40px;
    color: white;
}

.fieldset>.com-h1 {
    display: none;
}

.connect-with-me {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.connect-with-me input[type="button"] {
    border: none;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    width: 10vw;
    align-self: end;
    background-color: cornflowerblue;
    cursor: pointer;
}

.connect-with-me input[type="button"]:hover {
    background-color: #010949;
    color: white;
}

.connect-with-me input,
.connect-with-me textarea {
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}

.connect-with-me input {
    height: 8vh;
}

@keyframes fieldset{
    0%{
        transform: translateY(100px);
        opacity: 0.1;
    }
    50%{
        transform: traslateY(0px);
        opacity: .3;
    }
    100%{
        transform: traslateY(0px);
        opacity: 1;
    }
}

@media (max-width:1210px) {
    .Contacts {
        height: auto;
    }

    .fieldset>legend {
        font-size: 25px;
        white-space: pre;
    }

    .Contacts .headings,
    .fieldset {
        position: static;
        width: 50vw;
    }
    .fieldset{
        margin-top: 10vh;
    }
}

@media (max-width:1080px) {

    .Contacts .headings,
    .fieldset {
        width: 70vw;
        box-shadow: none;
    }

    .fieldset {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .fieldset>legend {
        display: none;
    }

    .fieldset>.com-h1 {
        display: block;
    }

    .connect-with-me input[type="button"] {
        width: 100px;
        color: white;
    }
}

@media (max-width:1080px) {
    .fieldset>.com-h1 {
        font-size: 35px;
    }
}

@media (max-width:550px) {
    .Contacts {
        padding: 10px 20px;
    }

    .Contacts .headings,
    .fieldset {
        flex-basis: 80vw;
        gap: 50px;
        box-sizing: content-box;
        padding: 10vh 8vh;
    }

    .fieldset {
        margin-top: 8px;
    }

    .fieldset input {
        height: 5vh;
        font-size: 16px;
    }

    .connect-with-me input[type="button"] {
        font-size: 14px;
        width: 100px;
        align-self: start;
        color: white;
    }

}

@media (max-width:450px) {
    .Contacts {
        padding: 10px 20px;
    }

    .Contacts .headings,
    .fieldset {
        display: flex;
        flex-direction: column;
        flex-basis: 60vw;
        width: 60vw;
        gap: 5vh;
        box-sizing: content-box;
    }

    .fieldset {
        margin-top: 4px;
    }

    .contact-list li{
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width:395px) {
    .Contacts {
        padding: 10px 0;
    }
    .Contacts .headings,
    .fieldset {
        padding: 5vh 8vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 55vw;
        width: 55vw;
        gap: 2.5vh;
        box-sizing: content-box;
        margin: 0px auto;
    }

}