footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 50px 100px;
    font-family: system-ui;
    color: white;
    background-image: linear-gradient(#1e2735c4,#1e2735c8),url('../assets/images/abstractimage.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

.icons{
    display: flex;
    gap: 30px;
    font-size: 25px;
    color: white;
}

.icons span{
    outline: 1px solid white;
    padding: 6px 12px;
    border-radius: 50%;
    transition: .2s all linear;
    display: inline-block;
}

.icons span:hover {
    color: dodgerblue;
    outline: 1px solid dodgerblue;
    box-sizing: 3px 3px 15px black;
    transform: translateY(-2px);
}

@media (max-width: 768px){
    .icons{
        font-size: 21px;
    }
}